 .good h2 {
  font-size: 2.5em;
  margin-bottom: 0.6em;
  color: #0f1718;
}

.good p {
  font-size: 1.4em;
  margin-bottom: 0.8em;
  color: #1f2f30;
}

.good h3 {
  color: red;
  font-size: 1.6em;
  margin-top: 1em;
} 
